importFrom(gmp, as.bigz, divq.bigz)
importFrom(partitions, P)

export(nparts.atmost, nparts.atmost.ubound, nparts.exact)
export(
	restrictedpartition, 
	restrictedpartitionR, restrictedpartitionNR, restrictedpartitionNRC,
	restrictedpartitionZS1,
	restrictedpartitionRJa, restrictedpartitionRJb, 
	restrictedpartitionRJaSS, 
	partsYKKN
)

useDynLib(partitions.aux, fpg=fxt_partition_gen, .registration=TRUE)

